/* src/components/MainHeader.css */
.main-header {
  display: flex;
  background-color: black;
  border-bottom: 2px solid black;
  height: 40px;
}


.header-tab {
  margin-top: auto;
  gap: 10px;
  margin-left: 10px;
  height: 30px;
  background-color: #f1f1f1;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  text-decoration: none;
  color: black;
  width: 200px; /* Ensure it spans the full width of the header */
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  border-top-left-radius: 5px; /* Round top-left corner */
  border-top-right-radius: 5px; /* Round top-right corner */
  border-top: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;

}


.header-tab.active {
  background-color: #9d7715;
  color: white;
}

.update-time-contact {
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px; /* Spacing between update time and contact button */
}

.update-time {
  font-size: 14px;
  color: white;
}


.contact-link {
  font-size: 14px;
  color: #1d784f;
  text-decoration: none;
  padding: 7px 5px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.contact-link:hover {
  background-color: #1d784f;
  color: #fff;
}
